/* Styling for photo and name*/

body > header{
  display: flex;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5cdb95;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
  color: #606111;
  z-index: 0;
}

#avatar {
  z-index: 1;
}

h2.header-name{
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

@media (min-width: 720px) {
  body > header {
    max-width: 30%;
    margin: 200px 50px 0px 50px;
  }
  .header-name {
    margin-top: 0;
  }
}