nav {
  height: 120px;
  background-color: #4056A1;
  color: WHITE;
  padding-left: 1em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1; 
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.birdImg{
  width: 100px;
  height: 100px;
  float: center;
}
.logo {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  color: crimson;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

#writeNew {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5em;
  padding-right: 1.5em;
  margin: 0;
}
#writeNew > p{
  margin-block-end: 0%;
}

#double-arrow{
  color: crimson;
  justify-content: center;
}

#double-arrow:hover {
  color: white;
}