#post-tweet{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  padding: 1em;
}

/* tweet button and character count*/
#post-tweet div {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  margin-top: 1rem;
}

#post-tweet label{
  font-weight: 600;
  font-size: 19px;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFF;
  font-size: 20px;
  padding: 0.5rem;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid #070606;
  background-color: rgba(0, 0, 0, 0);
}

.error-messages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-messages {
  display: none;
  border: 3px solid red;
  color: red;
  font-weight: 600;
  margin: 10px auto;
  padding: 15px 30px 15px 15px;
}