#tweets-container {
  word-break: break-all;
}

.all-tweets article {
  border: 3px solid #545149;
  padding: 10px;
  margin: 40px 0px;
}

.all-tweets article:hover{
  box-shadow: 8px 8px rgba(64, 86, 161, 0.3);
}

.all-tweets article header {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 15px 0px;
  padding: 0px;
  height: 60px;
}


 /* name, icon and handle */
 .all-tweets .tweet-top-left{
   display: flex;
   margin-left: 10px;
 }

 .all-tweets .user-name {
   font-weight: 300;
 }

 .all-tweets .avatar {
   width: 2em;
   margin-right: 10px;
 }

 .all-tweets .handle {
   font-weight: 600;
   color: #4056A1;
   opacity: 0.3;
   margin-right: 15px;
   margin-top: 20px;
 }

 .all-tweets article p {
   border-bottom: 3px solid #0b0b0f;
   padding: 30px 15px 20px 15px;
   margin: auto;
   font-weight: 600;
 }

 .all-tweets article footer {
   display: flex;
   justify-content: space-between;
   font-size: 0.6em;
   margin: 0px 15px 10px 15px;
 }

 .time {
   padding-top: 10px;
   font-size: 15px;
   font-weight: 600;
 }

 .reactions a * {
   padding-left : 12px;
   margin-top: 10px;
   color: #4056A1;
 }

 .reactions *:hover {
   color: rgb(52, 9, 92);
 }